/*!
 */
#body,#mainContentArea,#xwikicontent,#xwikimaincontainer,#xwikimaincontainerinner {
    background-color: #fff!important;
    background-image: none!important;
    border: none!important;
    float: none!important;
    margin: 0!important;
    overflow: visible!important;
    padding: 10px!important;
    width: auto!important
}
* html #body {
    overflow: auto!important
}
/*! Hide unneeded stuff */
#Historyshortcut,#Informationshortcut,#commentform,#contentmenu,#editmenu,#footerglobal,#globallinks
,#leftPanels,#mainmenu,#menuview,#rightPanels,.commentheader .commenttools a,.edit_section,
.separator,.tag-add a,.xwikitabbar li,a.tag-delete {
    display: none!important
}
#printcontainer {
    border: none;
    float: none!important;
    overflow: visible!important;
    padding: 10px;
    text-align: justify
}
#headerglobal {
    float: none
}
#headerspace {
    margin: 0!important
}
#contentcolumn .main {
    margin: 0!important
}
/*!-------------------------------------------------------------------*/
.main {
    background-color: #fff;
    padding: 10px
}
.xwikitabbar li.active {
    display: block
}
#docextrapanes #AddComment {
    border: none
}
#docExtraTabs,#xwikidatacontents {
    background: #fff
}
#docextrapanes,#xdocFooter {
    border: 0;
    padding-left: 10px;
    padding-right: 10px
}
#breadcrumbs a,#docextrapanes .commentauthor a,#xdocFooter a,#xwikicontent a {
    color: #9f9f9f!important
}
#docExtraTabs ul.xwikitabbar {
    background: #fff;
    border: 0;
    padding: 0
}
#contentcolumn,.leftsidecolumns {
    float: none!important
}
#docextrapanes {
    /*! display all comments */box-shadow: none;
    float: none!important;
    overflow: visible!important
}
/*! Remove shortcuts */
#annotationsshortcut,#document-info>div+div,#historyshortcut,#informationshortcut {
    display: none
}
.xdocLastModification {
    width: auto
}
.recentChangesMoreActions {
    display: none
}
/*! Fix XWIKI-5567 */
.box {
    overflow: visible
}